biblioteka.dtd

<!DOCTYPE biblioteka
[
<!ELEMENT biblioteka ( ksiazka)*>
<!ELEMENT ksiazka (tytul, autor, info)>
<!ELEMENT tytul (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT info (#PCDATA)>
<!ATTLIST ksiazka kategoria IDREF #REQUIRED>
<!ATTLIST ksiazka id ID #REQUIRED>
<!ATTLIST ksiazka opcja PCDATA #IMPLIED>
<!ATTLIST ksiazka oprawa (twarda|miękka)  #REQUIRED>
<!ATTLIST ksiazka rok_wydania  #REQUIRED>

<!ATTLIST kategoria skrot ID #IMPLIED>
 
]
>