biblioteka.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE biblioteka
[<!ELEMENT biblioteka ( ksiazka*,  kategoria**)>
<!ELEMENT ksiazka (tytul, autor, info)>
<!ATTLIST ksiazka 
  kategoria IDREF #REQUIRED
  id ID #REQUIRED
  opcja CDATA #IMPLIED
  oprawa (twarda|miękka)  #REQUIRED
>
<!ELEMENT kategoria (#PCDATA)>
<!ATTLIST kategoria
 skrot ID #IMPLIED
>
<!ELEMENT tytul (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT info (#PCDATA)>
]>